/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#root {
    height: 100%
}
.blend-white {
    background-color: #eff2f7;
}

.left-menu-background-color {
    background-color: #564ab1;
}

.menu-title {
    padding: 5px 10px!important;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 11px;
    text-transform: uppercase;
    color: #7f8387;
    font-weight: 600;
}

.menu-item {
    display: block;
    position: relative;
    font-size: 13px;
    transition: all .4s;
}

.search .input input {
    background-color: #f3f3f9;
}


/*TOP BAR*/
.button.symbol-button {
    margin-left: 30px;
    margin-right: 0;
    border-left: thin solid #556ee6;
    border-top: thin solid #556ee6;
    border-bottom: thin solid #556ee6;

    color: #556ee6;
    background-color: #eff2f7;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 38px;
}

.button.symbol-button:hover{
    background-color: #556ee6;
    color: white;
}


.button.symbol-button:focus{
    background-color: #556ee6;
    color: white;
}

.active .button.symbol-button{
    background-color: #556ee6;
    color: white;
}

.button.symbol-button-close {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: thin solid #556ee6;
    border-right: thin solid #556ee6;
    border-top: thin solid #556ee6;
    border-bottom: thin solid #556ee6;
    height: 38px;
    background-color:#eff2f7;
}
