.gradle
.idea

### database ###
database/dump/

## Python environment ##
/venv

### company-update ###
company-update/env/
company-update/.vscode/
company-update/**/__pycache__

### api ###
api/build/
api/gradle/

### REACT-UI PROJECT ###
react-ui/node_modules/

