[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schedule = "*"
html5lib = "*"
investpy = "*"
questrade-api = "*"

[dev-packages]

[requires]
python_version = "3.9"
